@use "../../variables-custom" as vars;

/* ---------- START CSS AUSTRALIA V2 ---------- */


.section{
    &-australia,
    &-dubai{
        position: relative;
        & > div {
            z-index: 1;
            position: relative;
        }
        ul {
            li {
                padding-left: 1.5rem;
                margin-bottom: 10px;
                position: relative;
                font-size: 1.1rem;
                @media #{vars.$M1440} {
                    font-size: 1.2vw;
                }
                @media #{vars.$M991} {
                    font-size: 2vw;
                }
                @media #{vars.$M500} {
                    font-size: 4vw;
                }
                &::before {
                    content: "";
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: vars.$color-green-1;
                }
            }
        }
        .information{
            h2,h3,h5{
                color: vars.$color-blue-dark-5;
            }
            img{
                border-radius: 20px;
            }
            h3{
                font-weight: 600;
            }
        }
        .card{
            &.card-viajarC{
                border: 0px;
                border-radius: 15px;
                position: relative;
                overflow: hidden;
                box-shadow: 1px 3px 4px 1px rgba(0,0,0,0.10);
                height: 100%;
                .card-header{
                    border: 0px;
                    background-color: transparent;
                    padding: 0px;
                    overflow: hidden;
                    height: 240px;
                    @media #{vars.$m1680}{
                        height: 270px;
                    }
                    img{
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }
                .card-body{
                    text-align: center;
                    padding: 2rem 1rem;
                    h4{
                        padding: 0 2.5rem;
                        font-weight: 600;
                        margin-bottom: 1rem !important;
                    }
                    p{
                        margin-bottom: 0px !important;
                    }
                }
            }
        }

        &.container-cardsViajar{
            margin: 0px;
            @media #{vars.$m1024}{
                margin-top: 240px;
            }
            @media #{vars.$m1680}{
                margin-top: 240px;
            }
            .container-australia-v2{
                @media #{vars.$m1024}{
                    margin-top: -240px;
                }
                @media #{vars.$m1680}{
                    margin-top: -270px;
                }
            }
        }

        // V3

        &_content{
            min-height: 90vh;
            overflow: hidden;
            @media #{vars.$m992} {
                min-height: 600px;
                max-height: 700px;
            }
            img{
                object-fit: cover;
                object-position: center bottom;
                height: 100%;
            }
        }

        .caption {
            width: 100%;
            text-align: center;
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translate(-50%, 0%);
            z-index: 10;
            @media #{vars.$m768}{
                bottom: -10%;    
                //transform: translate(-50%, -45%);
            }

            h1 {
                color: #fff;
                font-weight: bold;
                font-style: normal;
                font-size: 8vw;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                letter-spacing: 1px;
                text-shadow: 1px 2px 5px rgba(0,0,0,0.4);
                font-size: 2.8rem;
                text-transform: uppercase;
                @media #{vars.$M1440} {
                    font-size: 2.5rem;
                }
                @media #{vars.$M991} {
                    font-size: 2rem;
                }
                @media #{vars.$M500} {
                    font-size: 1.8rem;
                }
            }
            a {
                margin-top: 1.8rem;
            }
            p{
                color: white;
                font-size: 1.5rem;
                padding: 0 1rem 1rem 1rem;
            }
        }    
        &_contentCta{
            text-align: center;
            p{
                font-size: 1.2rem;
                font-weight: 300;
                margin-bottom: 3rem;
                @media #{vars.$M991} {
                    font-size: 1.2rem;
                }
                @media #{vars.$M500} {
                    font-size: 1rem;
                }
            }
            a{
                background-color: vars.$color-blue-grey-4;
                color: vars.$color-blue-dark-5 !important;
                padding: 0.8rem 3.5rem;
                border-radius: 35px;
                font-weight: 600;
                text-decoration: none;
                @media #{vars.$m1024} {
                    padding: 1rem 5rem;
                }
                &:hover{
                    background-color: rgba(19, 206, 195, 0.8);                    
                }
            }
        }
        &_benefits{
            .card-benefit{
                h3,p{
                    color: vars.$color-white;
                    margin-bottom: 2rem !important;
                }
                img{
                    max-height: 200px;
                    object-fit: contain;
                    object-position: center;
                    margin: 0 auto 2.5rem auto !important;
                }
            }
        }
        &_courses{
            h3{
                color: white;
                font-weight: bold;
                display: inline-block;
                width: fit-content;
                font-size: 1.3rem;
            }
        }
        &_reputation{
            iframe{
                width: 100%;
                min-height: 380px;
                @media #{vars.$m768}{
                    min-height: 350px;
                }
            }
        }
    }
}

/* ---------- END CSS AUSTRALIA V2 ---------- */