@use "../../variables-custom" as vars;

/* ---------- START CSS AUSTRALIA V2 ---------- */


.section{
    &-australia,
    &-dubai{
        position: relative;
        h2 > span{
            font-weight: bold !important;
        }
        & > div {
            z-index: 1;
            position: relative;
        }
        ul {
            li {
                padding-left: 1.5rem;
                margin-bottom: 10px;
                position: relative;
                font-size: 1.1rem;
                @media #{vars.$M1440} {
                    font-size: 1.2vw;
                }
                @media #{vars.$M991} {
                    font-size: 2vw;
                }
                @media #{vars.$M500} {
                    font-size: 4vw;
                }
                &::before {
                    content: "";
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: vars.$color-green-1;
                }
            }
        }
        .information{
            h2,h3,h5{
                color: vars.$color-blue-dark-5;
            }
            img{
                border-radius: 20px;
            }
            h3{
                font-weight: 600;
            }
        }
        .card{
            &.card-viajarC{
                border: 0px;
                border-radius: 15px;
                position: relative;
                overflow: hidden;
                box-shadow: 1px 3px 4px 1px rgba(0,0,0,0.10);
                height: 100%;
                .card-header{
                    border: 0px;
                    background-color: transparent;
                    padding: 0px;
                    overflow: hidden;
                    height: 240px;
                    @media #{vars.$m1680}{
                        height: 270px;
                    }
                    img{
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }
                .card-body{
                    text-align: center;
                    padding: 2rem 1rem;
                    h4{
                        padding: 0 2.5rem;
                        font-weight: 600;
                        margin-bottom: 1rem !important;
                    }
                    p{
                        margin-bottom: 0px !important;
                    }
                }
            }
        }

        &.container-cardsViajar{
            margin: 0px;
            @media #{vars.$m1024}{
                margin-top: 240px;
            }
            @media #{vars.$m1680}{
                margin-top: 240px;
            }
            .container-australia-v2{
                @media #{vars.$m1024}{
                    margin-top: -240px;
                }
                @media #{vars.$m1680}{
                    margin-top: -270px;
                }
            }
        }

        // V3

        &_content{
            min-height: 90vh;
            overflow: hidden;
            @media #{vars.$m992} {
                min-height: 600px;
                //max-height: 700px;
            }
            img{
                object-fit: cover;
                object-position: center bottom;
                height: 100%;
            }
        }

        .caption {
            width: 100%;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 7%;
            transform: translate(-50%, 0%);
            z-index: 10;
            height: 100%;
            @media #{vars.$m768}{
                top: auto;
                bottom: -20%;    
                //transform: translate(-50%, -45%);
            }

            h1 {
                color: #fff;
                font-weight: bold;
                font-style: normal;
                font-size: 8vw;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                letter-spacing: 1px;
                text-shadow: 1px 2px 5px rgba(0,0,0,0.4);
                font-size: 2.8rem;
                text-transform: uppercase;
                @media #{vars.$M1440} {
                    font-size: 2.5rem;
                }
                @media #{vars.$M991} {
                    font-size: 2rem;
                }
                @media #{vars.$M500} {
                    font-size: 1.8rem;
                }
            }
            a {
                margin-top: 1.8rem;
            }
            p{
                color: white;
                font-size: 1.5rem;
                padding: 0 1rem 1rem 1rem;
            }
        }    
        &_contentCta{
            text-align: center;
            p{
                font-size: 1.2rem;
                font-weight: 300;
                margin-bottom: 3rem;
                @media #{vars.$M991} {
                    font-size: 1.2rem;
                }
                @media #{vars.$M500} {
                    font-size: 1rem;
                }
            }
            a{
                background-color: vars.$color-blue-grey-4;
                color: vars.$color-blue-dark-5 !important;
                padding: 0.8rem 3.5rem;
                border-radius: 35px;
                font-weight: 600;
                text-decoration: none;
                @media #{vars.$m1024} {
                    padding: 1rem 5rem;
                }
                &:hover{
                    background-color: rgba(19, 206, 195, 0.8);                    
                }
            }
        }
        &_benefits{
            .card-benefit{
                h3,p{
                    color: vars.$color-white;
                    margin-bottom: 2rem !important;
                }
                img{
                    max-height: 200px;
                    object-fit: contain;
                    object-position: center;
                    margin: 0 auto 2.5rem auto !important;
                }
            }
        }
        &_courses{
            h3{
                color: white;
                font-weight: bold;
                display: inline-block;
                width: fit-content;
                font-size: 1.3rem;
            }
        }
        &_reputation{
            min-height: 320px;
            @media #{vars.$m768}{
                min-height: 350px;
            }
            iframe{
                width: 100%;
                min-height: 380px;
                @media #{vars.$m768}{
                    min-height: 350px;
                }
            }
        }
    }
    &-australiaRenovacion{
        .information{
            img{
                border-radius: 15px;
            }
        }
        .caption{
            height: 88%;
            display: flex;
            align-items: start;
            justify-content: center;
            top: 50%;
            transform: translate(-50%,-50%);
            @media #{vars.$m1024}{
                justify-content: space-around;
                height: 80%;
            }
        }
        &_courses{
            h3{
                color: vars.$color-green-2;
                font-weight: bold;
                font-size: 1.3rem;
            }
        }
        &_agentes{
            margin-bottom: 1.6rem;
            @media #{vars.$m768}{
                margin-bottom: 2.5rem;
            }
            .card{
                display: flex;
                align-items: stretch;
                flex-direction: row;
                border: 0px;
                box-shadow: none;
                background-color: transparent;

                .card-header{
                    border: 0px;
                    border-radius: 30px 0 0 30px;
                    padding: 0;
                    width: 30%;
                    background-color: transparent;
                    overflow: hidden;
                    img{
                        margin: 0 !important;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: vars.$color-white;
                    border-radius: 0 30px 30px 0;
                    h5{
                        color: vars.$color-grey-1;
                        font-weight: bold;
                    }
                    p{
                        color: vars.$color-grey-1;
                    }
                }
            }
        }
    }
    &-australiaWorkAndHoliday{
        .caption{
            h1{
                color: vars.$color-blue-dark-5;
                span{
                    font-size: 1.2rem !important;
                }
            }
        }
        .information{
            h5{
                color: vars.$color-grey-1;
            }
            ul{
                li{
                    span{
                        font-weight: 500;
                        color: vars.$color-green-2;
                    }
                }
            }
        }
        &_alert{
            background-color: vars.$color-green-2 !important;
            color: vars.$color-blue-dark-5 !important;
        }
    }
    &-australiaMigration{
        h2 > span{
            font-weight: 300 !important;
        }
        .card-ourServicesMigration{
            border: 0px;
            border-radius: 20px;
            background-color: vars.$color-blue-dark-5;
            padding: 1rem 2rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100px;
            &_title{
                color: vars.$color-white;
                font-weight: 300;
                font-size: 1.125rem;
                text-align: center;
            }
        }
        &_agents{
            h5{
                font-weight: 600;
            }
            .img-agent{
                width: 150px !important;
                height: 150px !important;
                object-fit: cover;
                object-position: center;
                border-radius: 15px !important;
            }
        }
        &_team{
            .swiper{
                padding: 1rem;
                .swiper-slide{
                    height: 100%;
                }
            }
            .card-teamMigration{
                border: 0px;
                border-radius: 25px;
                box-shadow: 3px 6px 7px -1px #dfdfe0 !important;
                .img-team{
                    width: 150px !important;
                    height: 150px !important;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 15px !important;
                }
                h3,h4{
                    color: vars.$color-blue-dark-5;
                }
            }
        }
    }
}

/* ---------- END CSS AUSTRALIA V2 ---------- */