@use "../../variables-custom" as vars;

/* ---------- START CSS AUSTRALIA V2 ---------- */


.section{
    &-australia,
    &-dubai{
        position: relative;
        h2 > span{
            font-weight: bold !important;
        }
        & > div {
            z-index: 1;
            position: relative;
        }
        ul {
            li {
                padding-left: 1.5rem;
                margin-bottom: 10px;
                position: relative;
                font-size: 1.1rem;
                @media #{vars.$M1440} {
                    font-size: 1.2vw;
                }
                @media #{vars.$M991} {
                    font-size: 2vw;
                }
                @media #{vars.$M500} {
                    font-size: 4vw;
                }
                &::before {
                    content: "";
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 0;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: vars.$color-green-1;
                }
            }
        }

        @keyframes fillProgress {
            from {
                background: conic-gradient(var(--color) 0%, var(--bg) 0%);
            }
            to {
                background: conic-gradient(
                var(--color) calc(var(--value) * 1%),
                var(--bg) 0
                );
            }
        }

        .progress{
            height: 12px;
            width: 100%;
            box-shadow: 0px 1px 3px rgba(0,0,0, 0.1);
            background-color: vars.$color-white !important;
            border-radius: 3rem;
            .progress-bar{
                background-color: vars.$color-green-3 !important;
            }
        }
        .progress-circle {
            --size: 90px;
            --thickness: 8px;
            --color: #91BA15;
            --bg: #e5e5e5;
            --value: 75; /* porcentaje */

            width: var(--size);
            height: var(--size);
            min-width: var(--size);
            border-radius: 50%;

            background: conic-gradient(
                var(--color) calc(var(--value) * 1%),
                var(--bg) 0
            );

            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            &:hover,
            &:focus{
                animation: fillProgress 1.5s ease-out forwards;
            }
        }

        .progress-circle::before {
            content: "";
            position: absolute;
            width: calc(100% - var(--thickness) * 2);
            height: calc(100% - var(--thickness) * 2);
            background: white;
            border-radius: 50%;
        }
            
        .progress-circle span {
            position: relative;
            font-weight: 500;
            color: vars.$color-grey-1;
            font-size: 1rem;
        }

        .information{
            h2,h3,h5{
                color: vars.$color-blue-dark-5;
            }
            img{
                border-radius: 20px;
            }
            h3{
                font-weight: 600;
            }
        }
        .card{
            &.card-viajarC{
                border: 0px;
                border-radius: 15px;
                position: relative;
                overflow: hidden;
                box-shadow: 1px 3px 4px 1px rgba(0,0,0,0.10);
                height: 100%;
                .card-header{
                    border: 0px;
                    background-color: transparent;
                    padding: 0px;
                    overflow: hidden;
                    height: 240px;
                    @media #{vars.$m1680}{
                        height: 270px;
                    }
                    img{
                        object-fit: cover;
                        object-position: center;
                        height: 100%;
                        width: 100%;
                    }
                }
                .card-body{
                    text-align: center;
                    padding: 2rem 1rem;
                    h4{
                        padding: 0 2.5rem;
                        font-weight: 600;
                        margin-bottom: 1rem !important;
                    }
                    p{
                        margin-bottom: 0px !important;
                    }
                }
            }
            &.card-progressCircle{
                box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.09);
                border: 0px;
                border-radius: 15px;
                padding: 0rem;
                .card-body{
                    padding: 1rem 1rem;
                }
                h5{
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }
        }

        &.container-cardsViajar{
            margin: 0px;
            @media #{vars.$m1024}{
                margin-top: 240px;
            }
            @media #{vars.$m1680}{
                margin-top: 240px;
            }
            .container-australia-v2{
                @media #{vars.$m1024}{
                    margin-top: -240px;
                }
                @media #{vars.$m1680}{
                    margin-top: -270px;
                }
            }
        }

        // V3

        &_content{
            min-height: 90vh;
            overflow: hidden;
            @media #{vars.$m992} {
                min-height: 600px;
                //max-height: 700px;
            }
            img{
                object-fit: cover;
                object-position: center bottom;
                height: 100%;
            }
        }

        .caption {
            width: 100%;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 7%;
            transform: translate(-50%, 0%);
            z-index: 10;
            height: 100%;
            @media #{vars.$m768}{
                top: auto;
                bottom: -20%;    
                //transform: translate(-50%, -45%);
            }

            h1 {
                color: #fff;
                font-weight: bold;
                font-style: normal;
                font-size: 8vw;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                letter-spacing: 1px;
                text-shadow: 1px 2px 5px rgba(0,0,0,0.4);
                font-size: 2.8rem;
                text-transform: uppercase;
                @media #{vars.$M1440} {
                    font-size: 2.5rem;
                }
                @media #{vars.$M991} {
                    font-size: 2rem;
                }
                @media #{vars.$M500} {
                    font-size: 1.8rem;
                }
            }
            a {
                margin-top: 1.8rem;
            }
            p{
                color: white;
                font-size: 1.5rem;
                padding: 0 1rem 1rem 1rem;
            }
        }    
        &_contentCta{
            text-align: center;
            p{
                font-size: 1.2rem;
                font-weight: 300;
                margin-bottom: 3rem;
                @media #{vars.$M991} {
                    font-size: 1.2rem;
                }
                @media #{vars.$M500} {
                    font-size: 1rem;
                }
            }
            a{
                background-color: vars.$color-blue-grey-4;
                color: vars.$color-blue-dark-5 !important;
                padding: 0.8rem 3.5rem;
                border-radius: 35px;
                font-weight: 600;
                text-decoration: none;
                @media #{vars.$m1024} {
                    padding: 1rem 5rem;
                }
                &:hover{
                    background-color: rgba(19, 206, 195, 0.8);                    
                }
            }
        }
        &_benefits{
            .card-benefit{
                h3,p{
                    color: vars.$color-white;
                    margin-bottom: 2rem !important;
                }
                img{
                    max-height: 200px;
                    object-fit: contain;
                    object-position: center;
                    margin: 0 auto 2.5rem auto !important;
                }
            }
        }
        &_courses{
            h3{
                color: white;
                font-weight: bold;
                display: inline-block;
                width: fit-content;
                font-size: 1.3rem;
            }
        }
        &_reputation{
            min-height: 320px;
            @media #{vars.$m768}{
                min-height: 350px;
            }
            iframe{
                width: 100%;
                min-height: 380px;
                @media #{vars.$m768}{
                    min-height: 350px;
                }
            }
        }
    }
    &-australiaRenovacion{
        .information{
            img{
                border-radius: 15px;
            }
        }
        .caption{
            height: 88%;
            display: flex;
            align-items: start;
            justify-content: center;
            top: 50%;
            transform: translate(-50%,-50%);
            @media #{vars.$m1024}{
                justify-content: space-around;
                height: 80%;
            }
        }
        &_courses{
            h3{
                color: vars.$color-green-2;
                font-weight: bold;
                font-size: 1.3rem;
            }
        }
        &_agentes{
            margin-bottom: 1.6rem;
            @media #{vars.$m768}{
                margin-bottom: 2.5rem;
            }
            .card{
                display: flex;
                align-items: stretch;
                flex-direction: row;
                border: 0px;
                box-shadow: none;
                background-color: transparent;

                .card-header{
                    border: 0px;
                    border-radius: 30px 0 0 30px;
                    padding: 0;
                    width: 30%;
                    background-color: transparent;
                    overflow: hidden;
                    img{
                        margin: 0 !important;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .card-body{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: vars.$color-white;
                    border-radius: 0 30px 30px 0;
                    h5{
                        color: vars.$color-grey-1;
                        font-weight: bold;
                    }
                    p{
                        color: vars.$color-grey-1;
                    }
                }
            }
        }
    }
    &-australiaWorkAndHoliday{
        .caption{
            h1{
                color: vars.$color-blue-dark-5;
                span{
                    font-size: 1.2rem !important;
                }
            }
        }
        .information{
            h5{
                color: vars.$color-grey-1;
            }
            ul{
                li{
                    span{
                        font-weight: 500;
                        color: vars.$color-green-2;
                    }
                }
            }
        }
        &_alert{
            background-color: vars.$color-green-2 !important;
            color: vars.$color-blue-dark-5 !important;
        }
        .swiper{
            padding: 1rem 2rem 2rem 2rem;
            .swiper-button-next, .swiper-button-prev{
                color: vars.$color-grey-1 !important;
                display: none;
                @media #{vars.$m768}{
                    display: flex;
                }
                &:hover,
                &:focus,
                &:active{
                    color: vars.$color-blue-dark-5 !important;
                }
            }
            
            .swiper-button-prev {
                left: 0.2rem; 
            }
            .swiper-button-next {
                right: 0.2rem;    
            }
            .swiper-pagination-bullet{
                background: vars.$color-grey-1 !important;
                opacity: 1;
            }
            .swiper-pagination-bullet-active{
                background: vars.$color-blue-dark-5 !important;
            }
        }
    }
    &-australiaMigration{
        h2 > span{
            font-weight: 300 !important;
        }
        .card-ourServicesMigration{
            border: 0px;
            border-radius: 20px;
            background-color: vars.$color-blue-dark-5;
            padding: 1rem 2rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100px;
            &_title{
                color: vars.$color-white;
                font-weight: 300;
                font-size: 1.125rem;
                text-align: center;
            }
        }
        .card-valuesMigration{
            min-height: 200px;
            .card-body{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;   
                }
                h3,h4,h5{
                    position: relative;
                    color: vars.$color-white;
                    text-align: center;
                    padding: 0 1rem;
                }
            }
        }
        .card-migrationConsultations{
            box-shadow: 3px 6px 7px -1px #dfdfe0 !important;
            border: 0px;
            padding: 1rem 2rem;
            height: 100%;
            border-radius: 20px;
            transition: 0.3s ease-in-out all;
            .card-body{
                display: flex;
                justify-content: start;
                align-items: center;
                flex-direction: column;
                text-align: center;
                padding: 1rem 0;
                img{
                    height: 80px;
                    object-fit: contain;
                    object-position: center;
                    margin-bottom: 2rem;
                }
                h5{
                    strong{
                        display: block;
                    }
                    span{
                        color: vars.$color-blue-dark-5;
                        font-weight: 600;
                    }
                }   
            }
            &:hover, &:focus, &:active{
                @media #{vars.$m992}{
                    transform: scale(1.06);
                }
            }
        }
        .card-agentsMigration{
            border:0px;
            box-shadow: 3px 6px 7px -1px #dfdfe0 !important;
            border-radius: 20px;
            overflow: hidden;
            .btn{
                border-radius: 30px;
                padding: 0.6rem 1rem;
                width: 80%;
            }
            .card-header{
                border: 0px;
                padding: 0px;
                background-color: #fff !important;
                overflow: hidden;
                height: 200px;
                img{
                    width: 100%;
                    height: 110%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .card-body{
                h4{
                    color: vars.$color-blue-dark-5;
                    font-weight: 600;
                }
                h5{
                    color: vars.$color-grey-1;
                }
            }
            .card-footer{
                border: 0px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                transform: translateY(100%);
                transition: 1s ease-in-out all;
                background-color: vars.$color-grey-light-1 !important;
                padding: 2rem;
                border-radius: 20px;
                p{
                    font-size: 0.9rem !important;
                }
                &.show{
                    transform: translateY(0);
                }
            }
        }
        .card-whyChooseUs{
            width: 100%;
            border: 0px;
            background-color: transparent;
            padding: 0.8rem 0.5rem;
            height: 100%;
            @media #{vars.$m768}{
                padding: 1rem;
            }
            &_title,
            &_percentage,
            &_description{
                text-align: center;
                color: vars.$color-blue-dark-5;
            }

            &_title,
            &_description{
                min-height: 35px;
                font-size: 1.1rem;
                line-height: 1.1;
            }

            &_percentage{
                font-size: 3.5rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
        }
        .instagram-embed-wrapper{
            overflow: hidden;
            width: 100%;
            padding: 0 2rem;
            iframe{
                margin-bottom: -9.6rem !important;
            }
        }
        &_banner{
            &.swiper{
                .swiper-button-next, .swiper-button-prev{
                    color: vars.$color-white !important;
                    &:hover,
                    &:focus,
                    &:active{
                        color: vars.$color-blue-dark-5 !important;
                    }
                }
                .swiper-pagination-bullet{
                    background: vars.$color-white !important;
                    opacity: 1;
                }
                .swiper-pagination-bullet-active{
                    background: vars.$color-blue-dark-5 !important;
                }
            }
        }
        &_whyChooseUs{
            background-image: url('#{vars.$site-url}/assets/images/australia/migration/bg-why-choose-us.jpg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            min-height: 260px;

            .container_whyChooseUsContent{
                display: flex;
                align-items: stretch;
                justify-content: start;
                flex-wrap: nowrap;
                overflow-x: scroll;
                padding-bottom: 1rem;
                &::-webkit-scrollbar {
                    height: 6px; /* Define la altura de la barra horizontal */

                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 6px;
                }
                &::-webkit-scrollbar-track {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                @media #{vars.$m768}{
                    flex-wrap: wrap;
                    overflow-x: hidden;
                    justify-content: center;
                    padding-bottom: 0rem;
                }
            }
            

            .container-whyChooseUs{
                border-right: 1px solid vars.$color-white;
                max-width: 300px;
                @media #{vars.$m768}{
                    max-width: 100%;
                }
                &:last-child{
                    border-right: 0px;
                    .card-whyChooseUs{
                        &_description{
                            font-size: 0.9rem !important;
                        }
                    }
                }
            }
        }
        &_consultations{
            display: flex;
            align-items: stretch;
            justify-content: start;
            flex-wrap: nowrap;
            overflow-x: scroll;

            &::-webkit-scrollbar {
                height: 6px; /* Define la altura de la barra horizontal */

            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .2);
                border-radius: 6px;
            }
            &::-webkit-scrollbar-track {
                background-color: rgba(0, 0, 0, 0.1);
            }

            @media #{vars.$m768}{
                flex-wrap: wrap;
                justify-content: center;
                overflow-x: hidden;
            }
            .container-migrationConsultations{
                max-width: 300px;
                padding-bottom: 1rem;
                @media #{vars.$m768}{
                    max-width: 100%;
                }
            }
        }
        &_agents{
            h5 strong{
                font-weight: 600;
            }
            p{
                margin-bottom: 0.9rem;
                font-size: 1.1rem;
            }
            .contentHTMLCustom{
                h5{
                    margin: 2rem auto 0.9rem;
                    color: vars.$color-grey-1;
                    font-weight: 600;
                }
                ul{
                    margin-bottom: 1rem;
                    li{
                        font-size: 1.1rem;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 8px;
                            left: 0;
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background-color: vars.$color-grey-1
                        }
                    }
                }
                strong{
                    font-weight: 600;
                }
            }
        }
        &_metricsProgressCircle{
            display: flex;
            align-items: stretch;
            justify-content: start;
            flex-wrap: nowrap;
            overflow-x: scroll;
            padding-bottom: 1rem;
            
            &::-webkit-scrollbar {
                height: 6px; /* Define la altura de la barra horizontal */

            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .2);
                border-radius: 6px;
            }
            &::-webkit-scrollbar-track {
                background-color: rgba(0, 0, 0, 0.1);
            }

            @media #{vars.$m768}{
                flex-wrap: wrap;
                justify-content: center;
                overflow-x: hidden;
            }
            .container-progressCircle{
                max-width: 300px;
                @media #{vars.$m768}{
                    max-width: 100%;
                }
            }
        }
        &_metricsCta{
            h5{
                //color: vars.$color-grey-1;
                span{
                    font-weight: 300;
                }
            }
            .btn{
                padding: 0;
                background-color: transparent;
                transition: 0.3s ease-in-out all;
                display: flex;
                width: 100%;
                outline: none !important;
                box-shadow: none !important;
                border: 0px !important;
                @media #{vars.$m768}{
                    padding: 0 0 0 1rem!important;
                }
                &:hover,
                &:focus,
                &:active{
                    transform: scale(1.05);
                }
                img{
                    width: 100%;
                }
            }
            
        }
        &_team{
            .swiper{
                padding: 1rem 1rem 4rem 1rem;
                @media #{vars.$m768}{
                    padding: 1rem 5rem 3rem 5rem;
                }
                &::before,
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 4rem;
                    height: 100%;
                    z-index: 2;
                    @media #{vars.$m768}{
                        width: 6rem;
                    }
                }

                &::before{
                    left: 0;
                    background: linear-gradient(to right, vars.$color-white, transparent);
                }

                &::after{
                    right: 0;
                    background: linear-gradient(to left, vars.$color-white, transparent);
                }

                .swiper-wrapper{
                    display: flex;
                    align-items: stretch;
                }
                .swiper-slide{
                    height: auto;
                    display: flex;
                }

                .swiper-button-next, .swiper-button-prev{
                    color: vars.$color-grey-1 !important;
                    display: none;
                    @media #{vars.$m768}{
                        display: flex;
                    }
                    &:hover,
                    &:focus,
                    &:active{
                        color: vars.$color-blue-dark-5 !important;
                    }
                }

                .swiper-button-prev {
                    left: 0rem; 
                }
                .swiper-button-next {
                    right: 0rem;    
                }
                .swiper-pagination-bullet{
                    margin-top: 2rem !important;
                    background: vars.$color-grey-1 !important;
                    opacity: 1;
                }
                .swiper-pagination-bullet-active{
                    background: vars.$color-blue-dark-5 !important;
                }
            }
            .card-teamMigration{
                border: 0px;
                border-radius: 25px;
                box-shadow: 3px 6px 7px -1px #dfdfe0 !important;
                .img-team{
                    height: 100% !important;
                    max-height: 200px;
                    width: 100%;
                    max-width: 200px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 15px !important;
                    @media #{vars.$m768}{ 
                        max-width: 150px !important;
                        max-height: 150px !important;
                    }
                }
                h3,h4{
                    color: vars.$color-blue-dark-5;
                }
                h4{
                    span{
                        margin-bottom: 0.5rem !important;
                    }
                    strong{
                        font-size: 1rem;
                    }
                }
            }
        }
        &_bodyDynamics{
            .bg-blue-dark{
                background-color: vars.$color-blue-dark-5 !important;
                color: vars.$color-white !important;
            }
            a{
                display: inline-block;
                h2,h3,h4{
                    color: vars.$color-blue-dark-2;
                    &:hover,
                    &:focus,
                    &:active{
                        text-decoration: underline;
                    }
                }
                span{
                    color: vars.$color-blue-dark-2 !important;
                    &:hover,
                    &:focus,
                    &:active{
                        text-decoration: underline;
                    }
                }
            }
            h2{
                margin-top: 3rem;
                margin-bottom: 1.5rem;
                font-weight: 600;
                font-size: 1.8rem;
                @media #{vars.$m1024} {
                    font-size: 2.5rem;
                }
            }
            h2,h3,h4{
                color: vars.$color-blue-dark-5;
                margin-top: 3rem;
                margin-bottom: 1.5rem;
            }
            h5,p{
                margin-bottom: 1.1rem
            }
            h5{
                font-weight: 600;
                margin-top: 2.5rem;
            }
            strong{
                font-weight: 600;
            }
            li span,
            p span{
                font-weight: 600;
                color: vars.$color-blue-dark-5;
            }
            li{
                margin-bottom: 1.1rem;
            }
            ol ul,
            ul{
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
            ul li,
            ul ul li,
            ol ul li{
                padding-left: 1rem;
                margin-bottom: 10px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 0;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: vars.$color-grey-1
                }
            }
        }
    }
    &-australiaTestimonials{
        .instagram-embed-wrapper{
            overflow: hidden;
            width: 100%;
            padding: 0 2rem;
            iframe{
                margin-bottom: -9.6rem !important;
            }
        }
    }
}

/* ---------- END CSS AUSTRALIA V2 ---------- */