@use "../variables-custom";

/* ---------- START CSS DONDE ESTUDIAR ---------- */

.container {
    &-australia {
        h4 {
            // color: variables-custom.$color-grey-6;
        }
        &-tabs {
            display: flex;
            justify-content: center;
            width: 100%;
            .nav-item {
                .nav-link {
                    width: 100%;
                    color: variables-custom.$color-grey-6;
                    border-bottom: 1px solid variables-custom.$color-grey-5;
                    padding: 1rem 4rem;
                    position: relative;
                    font-size: 1.8rem;
                    text-align: center;
                    transition: .5s all ease;
                    @media #{variables-custom.$M1440} {
                        font-size: 2vw;
                    }
                    @media #{variables-custom.$M991} {
                        font-size: 4vw;
                    }
                    @media #{variables-custom.$M500} {
                        font-size: 6vw;
                    }
                    &:hover,
                    &:focus,
                    &:active,
                    &.active {
                        font-weight: bold;
                        font-style: normal;
                        &:after {
                            content: '';
                            position: absolute;
                            background-color: variables-custom.$color-green-1;
                            left: 0;
                            width: 100%;
                            height: 5px;
                            z-index: 2;
                            bottom: -2px;
                        }
                    }
                }
            }
        }
        &-content-tab,
        &-v2 {
            a {
                line-height: 0 !important;
                letter-spacing: 0.5px;
                display: inline-flex !important;
                align-items: center !important;
            }
            .information {
                h2,
                h3,
                h4 {
                    color: variables-custom.$color-blue-grey-1;
                    margin-bottom: 2.5rem;
                }
                h3 {
                    font-weight: bold;
                    font-style: normal;
                }
                p,
                h5,
                ul {
                    margin-bottom: 2rem;
                    // color: variables-custom.$color-grey-6;
                }
                ul {
                    li {
                        padding-left: 1.5rem;
                        margin-bottom: 10px;
                        position: relative;
                        font-size: 1.1rem;
                        @media #{variables-custom.$M1440} {
                            font-size: 1.2vw;
                        }
                        @media #{variables-custom.$M991} {
                            font-size: 2vw;
                        }
                        @media #{variables-custom.$M500} {
                            font-size: 4vw;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            // transform: translateY(-50%);
                            top: 10px;
                            left: 0;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background-color: variables-custom.$color-green-1;
                        }
                    }
                }
                &-cta {
                    position: relative;
                    &:after {
                        content: '';
                        position: relative;
                        display: inline-flex;
                        width: 100%;
                        height: 50vw;
                        background-size: 300%;
                        background-position: 90% 100%;
                        left: 50%;
                        bottom: 0;
                        transform: translateX(-50%);
                        background-image: url(/assets/images/australia/avion-lineas.svg);
                        background-repeat: no-repeat;
                        z-index: 2;
                        @media #{variables-custom.$m768} {
                            position: absolute;
                            width: 100%;
                            height: 80%;
                            background-size: cover;
                            background-position: center;
                            left: 50%;
                        }
                        @media #{variables-custom.$m992} {
                            height: 100%;
                        }
                    }
                    h2,
                    h3 {
                        @media #{variables-custom.$m768} {
                            padding-right: 3vw;
                        }
                    }
                    h2 {
                        font-size: 7rem;
                        @media #{variables-custom.$m992} {
                            font-size: 10.5vw;
                        }
                    }
                    h3 {
                        font-size: 3rem;
                        @media #{variables-custom.$m375} {
                            font-size: 3.5rem;
                        }
                        @media #{variables-custom.$m992} {
                            font-size: 5.5vw;
                        }
                    }
                }
            }
            .image-featured {
                img {
                    vertical-align: bottom;
                }
            }
            .icon {
                display: flex;
                &::before {
                    max-width: 10vw;
                    margin: 0 auto;
                    @media #{variables-custom.$M991} {
                        max-width: 30vw;
                    }
                    @media #{variables-custom.$M500} {
                        max-width: 40vw;
                    }
                }
            }
        }
    }
}


/* ---------- END CSS DONDE ESTUDIAR ---------- */