@use "../variables-custom";

/* ---------- START CSS CONOCENOS ---------- */

.container {
    &-conocenos {
        width: 100%;
        position: relative;
        &-description {
            a {
                line-height: 0 !important;
            }
        }
        &-team {
            h3 {
                color: variables-custom.$color-grey-5;
                font-weight: 300;
                font-style: normal;
                border-left: 5px solid variables-custom.$color-green-1;
                @media #{variables-custom.$M991} {
                    padding: 3rem 1.5rem;
                    border-left: 0px;
                    border-bottom: 5px solid variables-custom.$color-green-1;
                }
                @media #{variables-custom.$M500} {
                    padding: 2rem 0rem;
                }
                span {
                    display: block;
                    font-weight: bold;
                    font-style: normal;
                }
            }
            // h5 {
            //     color: variables-custom.$color-grey-6;
            // }
            .team-member {
                position: relative;
                display: inline-block;
                img {
                    width: 100% !important;
                }
                a {
                    display: inline;
                }
                &-info {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    max-height: 35%;
                    min-height: 120px;
                    background-color: variables-custom.$color-blue-grey-1;
                    bottom: 0;
                    left: 0;
                    padding: 1rem;
                    text-align: center;
                    z-index: 1;
                    transition: 0.5s all ease-in;
                    @media #{variables-custom.$M991} {
                        display: block;
                        max-height: 30%;
                    }
                    h4,
                    h5,
                    p,
                    small {
                        color: #fff;
                        line-height: 1;
                    }
                    small {
                        font-size: 0.85rem;
                    }
                }
                &:hover,
                &:focus,
                &.active,
                &:active {
                    .team-member-info {
                        display: block;
                    }
                }
            }
        }
        &:nth-last-of-type(1){
            &::after {
                content: '';
                background-image: url('/assets/images/conocenos/word-familia.png');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: 100% 100%;
                position: absolute;
                width: 100%;
                min-height: 420px;
                height: 20vw;
                bottom: -0rem;
                left: 0vw;
                opacity: 1;
                z-index: -1;
                display: inline-block;
            }
        }
    }
}

.modal-team-member {
    .modal-dialog {
        max-width: 90vw !important;
        margin-top: 4rem;
        margin: 4rem auto !important;
        @media #{variables-custom.$m1280} {
            max-width: 70vw !important;
        }
        .modal-content {
            border-radius: 0px;
            button.close {
                position: absolute;
                right: 1rem;
                top: 0.5rem;
                font-size: 2rem;
                z-index: 2;
                border: 0px !important;
                background: transparent !important;
            }
        }
    }
    .modal-team-member-image {
        img {
            width: 100% !important;
            vertical-align: bottom;
            object-fit: cover;
            height: 100%;
        }
    }
    &-description {
        h3 {
            color: variables-custom.$color-blue-grey-1;
        }
        hr {
            width: 40px;
            border-bottom: 2px solid variables-custom.$color-blue-grey-1;
            margin: 1rem auto;
        }
        a {
            color: variables-custom.$color-grey-1;
            i {
                &:before {
                    top: 5px;
                }
            }
        }
    }
}


/* ---------- END CSS CONOCENOS ---------- */