@use "../variables-custom" as vars;

/* --------- START CSS GENERAL CONTENT - INTERNAL PAGES --------- */

body {
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: vars.$color-grey-1;
    &::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        @media #{vars.$M991} {
            width: 5px;
        }
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &::-webkit-scrollbar-track {
        //border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.15);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    span,
    strong,
    li,
    a,
    p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    h1,
    h2,
    h3 {
        line-height: 1.1;
        letter-spacing: 0.5px;
    }
    h4,
    h5 {
        line-height: 1.3;
        letter-spacing: 0.5px;
    }
    p,
    li,
    a {
        font-size: 1rem;
        line-height: 1.3;
        letter-spacing: 0.5px;
        text-decoration: none;
        @media #{vars.$M500} {
            font-size: 0.94rem;
        }
    }
    h1 {
        font-size: 4vw;
        @media #{vars.$M1440} {
            font-size: 4rem;
        }
        @media #{vars.$M991} {
            font-size: 8vw;
        }
        @media #{vars.$M500} {
            font-size: 9vw;
        }
    }
    h2 {
        font-size: 3vw;
        @media #{vars.$M1440} {
            font-size: 3rem;
        }
        @media #{vars.$M991} {
            font-size: 6vw;
        }
        @media #{vars.$M500} {
            font-size: 8vw;
        }
        
    }
    h3 {
        font-size: 2vw;
        @media #{vars.$M1440} {
            font-size: 2rem;
        }
        @media #{vars.$M991} {
            font-size: 4vw;
        }
        @media #{vars.$M500} {
            font-size: 7vw;
        }
        &.text--xl {
            font-size: 2.4vw;
            @media #{vars.$M1440} {
                font-size: 2.4vw;
            }
            @media #{vars.$M991} {
                font-size: 4.4vw;
            }
            @media #{vars.$M500} {
                font-size: 8.4vw;
            }
        }
        &.text--xxl {
            font-size: 2.8vw;
            @media #{vars.$M1440} {
                font-size: 2.8vw;
            }
            @media #{vars.$M991} {
                font-size: 5vw;
            }
            @media #{vars.$M500} {
                font-size: 9vw;
            }
        }
    }
    h4 {
        font-size: 1.2rem;
        @media #{vars.$M1440} {
            font-size: 1.4vw;
        }
        @media #{vars.$M991} {
            font-size: 1.4rem;
        }
        @media #{vars.$M768} {
            font-size: 1.2rem;
        }
        @media #{vars.$M500} {
            font-size: 4vw;
        }
        &.text--xl {
            font-size: 1.6rem;
            @media #{vars.$M1440} {
                font-size: 1.8vw;
            }
            @media #{vars.$M991} {
                font-size: 4vw;
            }
            @media #{vars.$M500} {
                font-size: 5.5vw;
            }
        }
        &.text--xxl {
            font-size: 1.8rem;
            @media #{vars.$M1440} {
                font-size: 2vw;
            }
            @media #{vars.$M991} {
                font-size: 4vw;
            }
            @media #{vars.$M500} {
                font-size: 6vw;
            }
        }
    }
    h5 {
        font-size: 1.1rem;
        @media #{vars.$M1440} {
            font-size: 1.2vw;
        }
        @media #{vars.$M991} {
            font-size: 1.4rem;
        }
        @media #{vars.$M768} {
            font-size: 1.2rem;
        }
        @media #{vars.$M500} {
            font-size: 4vw;
        }
    }
    strong {
        font-weight: 600;
        font-style: normal;
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .line-height-1_5 {
        line-height: 1.5;
    }
    .container {
        @media #{vars.$m1366} {
            max-width: 1280px;
        }
    }
    a.btn {
        letter-spacing: 0.5px;
        display: inline-block;
        i.icon {
            display: inline-block;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            &:before {
                width: 32px;
                vertical-align: middle;
            }
        }
        &.btn-sm {
            font-size: .9rem;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            @media #{vars.$m1024} {
                padding-right: 1.3rem;
                padding-left: 1.3rem;
                font-size: 1rem;
            }
        }
    }
    .accordion {
        color: vars.$color-blue-grey-1;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        font-weight: bold;
        font-style: normal;
        .card {
            border-radius: 0px;
            border: 0px;
            box-shadow: none;
            background-color: transparent;
            margin-top: 0px;
            margin-bottom: 5px;
            .card-header {
                background: transparent !important;
                border-bottom: 0px;
                box-shadow: none;
                padding: 0 !important;
                margin: 0 !important;
                border-radius: 3px;
                button {
                    background-color: transparent !important;
                    width: 100%;
                    text-align: left;
                    text-decoration: none;
                    padding: 0.2rem 2rem;
                    border-radius: 0px;
                    border-left: 0px;
                    border-right: 0px;
                    border-top: 0px;
                    border-bottom: 1px solid vars.$color-grey-6;
                    @media #{vars.$M991} {
                        padding: 0.5rem 1rem;
                    }
                    &::after {
                        content: url("#{vars.$site-url}/assets/images/icons/arrow-light.svg");
                        transform: rotate(-90deg);
                        max-width: 3rem;
                        width: 100%;
                        text-shadow: none;
                        border: 0px;
                        transition: 0.4s all ease-in-out;
                        @media #{vars.$M991} {
                            max-width: 2.5rem;
                        }
                    }
                    h4 {
                        text-transform: uppercase;
                        color: vars.$color-grey-6;
                        font-weight: bold;
                        font-style: normal;
                    }
                }
                button[aria-expanded="true"] {
                    border-bottom: 1px solid vars.$color-grey-6;
                    &::after {
                        content: url("#{vars.$site-url}/assets/images/icons/arrow-light.svg");
                        transform: rotate(90deg);
                    }
                }
            }
            &:nth-of-type(1) {
                border-top: 0px;
            }
            &:hover {
                .card-header {
                    button {
                        &::after {
                            color: vars.$color-grey-6;
                        }
                        h4 {
                            color: vars.$color-grey-6;
                        }
                    }
                }
            }
            .card-body {
                padding: 1.5rem 2rem 0rem 2rem;
                @media #{vars.$M991} {
                    padding: 1rem;
                }
                h5 {
                    margin-bottom: 2rem;
                    color: vars.$color-grey-1;
                }
            }
        }
    }
    
    //SLIDER HOME
    section#internal_banner {
        width: 100%;
        position: relative;
        .internal_banner_img {
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            object-position: center top;
            @media #{vars.$M991} {
                height: 100vh;
                object-fit: cover;
            }
        }
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0,0,0,0.3);
            position: absolute;
            left: 0;
            top: 0;
        }
        &::after {
            display: none;
            content: '';
            width: 101%;
            min-height: 280px;
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 1) 100%);
            background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 1) 100%);
            background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 1) 100%);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        .caption {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            h1 {
                color: vars.$color-blue-dark-2; 
                color: #fff;
                font-weight: bold;
                font-style: normal;
                margin-top: 1rem;
                margin-bottom: 0.5rem;
                letter-spacing: 1px;
                text-shadow: 1px 2px 5px rgba(0,0,0,0.4);
                font-size: 5rem;
                @media #{vars.$M1440} {
                    font-size: 5rem;
                }
                @media #{vars.$M991} {
                    font-size: 2.5rem;
                }
                @media #{vars.$M500} {
                    font-size: 2rem;
                }
            }
            a {
                margin-top: 1.8rem;
            }
        }
    }
}

.nice-select {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    span {
        white-space: normal;
    }
    .list {
        width: 100%;
        margin-top: 0px;
        border-radius: 0px;
        li {
            color: #666;
        }
    }
    &:after {
        font-family: "Font Awesome 5 Free" !important;
        font-weight: 900 !important;
        font-style: normal;
        font-variant: normal;
        content: "\f078" !important;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        text-shadow: none;
        transform: none;
        border: 0px;
    }
}

.modal-backdrop.show {
    opacity: 0.8 !important;
}


/* --------- END CSS GENERAL CONTENT - INTERNAL PAGES --------- */