@use "../variables-custom";

/* ---------- START CSS PQR ---------- */

.container {
    &-pqr {
        &-description {
            &:after {
                content: '';
                width: 150px;
                height: 8px;
                background-color: variables-custom.$color-green-1;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            h4 {
                // color: variables-custom.$color-grey-6;
            }
        }
        &.cta {
            margin-top: 10rem;
            margin-bottom: 10rem;
            @media #{variables-custom.$M1440} {
                margin-bottom: 5rem;
            }
            @media #{variables-custom.$M991} {
                margin-top: 0rem;
                margin-bottom: 0rem;
            }
            .image-canguro {
                margin-top: -20rem;
                margin-bottom: -20rem;
                @media #{variables-custom.$M1440} {
                    margin-top: -20rem;
                    margin-bottom: -15rem;
                }
                @media #{variables-custom.$M991} {
                    margin: 2rem auto;
                }
            }
            .information {
                h3 {
                    line-height: 0.9;
                }
                h3.sub {
                    font-weight: 300;
                }
            }
        }
    }
}


/* ---------- END CSS PQR ---------- */