@use 'env' as *;

$base-path: $basePath;
$site-url: $siteUrl;

/*COLORS*/

$color-white: #fff;

$color-blue-dark-1: #000b4F;
$color-blue-dark-2: #00349e;
$color-blue-dark-3: #08195b;
$color-blue-dark-4: #042880;
$color-blue-dark-5: #010F4D;

$color-blue-1: #0626A5;

$color-blue-grey-1: #19bebb;
$color-blue-grey-2: #2fbebb;
$color-blue-grey-3: #34cec3;
$color-blue-grey-4: #13cec3;

$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #f6f6f6;
$color-grey-light-3: #f2f2f2;

$color-green-1: #97d539;
$color-green-2: #94d827;

$color-grey-1: #707070;
$color-grey-nav: rgb(247, 247, 247);
$color-grey-nav-rgba: rgba(247, 247, 247, 0.85);
$color-grey-2: #acacac;
$color-grey-3: #ababab;
$color-grey-4:#a8a8a8;
$color-grey-5: #b8b8b8;
$color-grey-6: #afafaf;
$color-grey-7: #d8dbde;
$color-grey-bg-tabMenu: #ebecf0;
$color-red-1: #dd3645;

/*MEDIA QUERYS*/

$M1680: "screen and (max-width : 1680px)" !default;
$M1440: "screen and (max-width : 1440px)" !default;
$M1366: "screen and (max-width : 1366px)" !default;
$M1280: "screen and (max-width : 1280px)" !default;
$M1024: "screen and (max-width : 1024px)" !default;
$M991: "screen and (max-width : 991px)" !default;
$M900: "screen and (max-width : 900px)" !default;
$M768: "screen and (max-width : 768px)" !default;
$M500: "screen and (max-width : 500px)" !default;
$M400: "screen and (max-width : 400px)" !default;
$M320: "screen and (max-width : 320px)" !default;

$m1920: "screen and (min-width : 1920px)" !default;
$m1680: "screen and (min-width : 1680px)" !default;
$m1440: "screen and (min-width : 1440px)" !default;
$m1366: "screen and (min-width : 1366px)" !default;
$m1280: "screen and (min-width : 1280px)" !default;
$m1024: "screen and (min-width : 1024px)" !default;
$m992: "screen and (min-width : 992px)" !default;
$m768: "screen and (min-width : 768px)" !default;
$m375: "screen and (min-width : 375px)" !default;

/* BACKGROUNDS */

.bg-blue-grey-1 {
    background-color: $color-blue-grey-1;
}

.bg-blue-grey-3 {
    background-color: $color-blue-grey-3;
}

.bg-blue-grey-4 {
    background-color: $color-blue-grey-4;
}

.bg-grey-light-1 {
    background-color: $color-grey-light-1;
}

.bg-grey-light-3 {
    background-color: $color-grey-light-3;
}

.bg-blue-dark-2 {
    background-color: $color-blue-dark-2;
}

.bg-blue-dark-5 {
    background-color: $color-blue-dark-5;
}

.bg-green-1 {
    background-color: $color-green-1;
}

.bg-green-2 {
    background-color: $color-green-2;
}


/* BUTTONS */

.btn.btn-round {
    border-radius: 3rem !important;
}

.btn-color-green-1 {
    color: $color-green-1;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color-green-1;
    }
}

.btn-border {
    padding: 0.6rem 3rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2rem;
    font-size: 1vw;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid #fff !important;
    }
    @media #{$M1440} {
        font-size: 1.1rem;
    }
}

.btn-border-green {
    border: 2px solid $color-green-1;
    border-radius: 2rem;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid $color-green-1 !important;
    }
}

.btn-border-grey {
    border: 2px solid $color-grey-4;
    border-radius: 2rem;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid $color-grey-4 !important;
    }
}

.btn-border-blue-dark {
    border: 2px solid $color-blue-dark-2;
    border-radius: 2rem;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid $color-blue-dark-2 !important;
    }
}

.btn-border-white {
    border: 2px solid #fff;
    border-radius: 2rem;
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid #fff !important;
        color: $color-white !important;
    }
}

.btn-blue-dark {
    background-color: $color-blue-dark-2;
    border: 2px solid $color-blue-dark-2;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color-blue-dark-2 !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid $color-blue-dark-2 !important;
        .icon-arrow-right-white,
        .icon-arrow-left-white {
            &:before {
                content: url(#{$site-url}/assets/images/icons/arrow-right-blue.svg);
            }
        }
    }
}

.btn-grey-1 {
    background-color: $color-grey-light-2;
    border: 2px solid $color-grey-light-2;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color-grey-light-2 !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid $color-grey-light-2 !important;
    }
}

.btn-blue-grey-2 {
    background-color: $color-blue-grey-2;
    border: 2px solid $color-blue-grey-2;
    color: #fff;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color-blue-grey-2 !important;
        background-color: transparent !important;
    }
}

.btn-green-1 {
    color: $color-blue-dark-1;
    background-color: $color-green-1;
    border: 2px solid $color-green-1;
    line-height: 1 !important;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color-green-1 !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
        border: 2px solid $color-green-1 !important;
        .icon-arrow-right-white,
        .icon-arrow-left-white {
            &:before {
                content: url(#{$site-url}/assets/images/icons/arrow-right-green.svg);
            }
        }
        .icon-arrow-right-blue,
        .icon-arrow-left-blue {
            &:before {
                content: url(#{$site-url}/assets/images/icons/arrow-right-green.svg);
            }
        }
    }
}

.btn-cta-post {
    background-color: transparent !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding-left: 0px !important;
    color: $color-green-1 !important;
    text-transform: initial !important;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color-green-1;
    }
}

.btn-back {
    background-color: transparent !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    padding-left: 0px !important;
    color: $color-green-1 !important;
    text-transform: initial !important;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $color-green-1;
    }
}


/* BORDERS */

.fa-border {
    border: 2px solid $color-grey-2;
    border-radius: 0.5rem;
    padding: 6px;
    min-width: 35px;
    text-align: center;
}


/* LOADING */


/*SHADOWs*/

.shadow-0 {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.shadow-1 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); //
}

.shadow-2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

@media #{$M991} {
    .hide-on-m-and-t {
        display: none !important;
    }
}

@media #{$M500} {
    .hide-on-m {
        display: none !important;
    }
}

@media #{$m992} {
    .hide-on-d {
        display: none !important;
    } //
}


/*CENTER RECAPTCHA*/

.g-recaptcha>div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.swiper-button-next,
.swiper-button-prev {
  color: #fff; 
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  transform: translateY(-50%);
  top: 45%;
  z-index: 10;
  .swiper-navigation-icon{
    width: 45px;
    height: 45px;
  }
  @media #{$M768} {
    display: none;
  }
}

.swiper-button-prev {
  left: 1rem; 
  transform: translateY(-50%) rotate(180deg);
}

.swiper-button-next {
  right: 1rem; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  //background: rgba(255, 255, 255, 0.25);
  color: $color-blue-dark-1;
  cursor: pointer;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 6px;
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    opacity: 0.75;
  }
}

.swiper-pagination-bullet-active {
  background: $color-blue-dark-1;
  opacity: 1;
}

